# OSX
#
.DS_Store

# IntelliJ
#
.idea/
*.iml

# node.js
#
node_modules/
npm-debug.log
yarn-error.log

# Logs
#
logs/
*.log

# Coverage data
#
.coverage/
.nyc_output/
coverage/

# Other generated folders
#
dist/
