import { electrodeBridge, DispatchMode } from '@walmart/react-native-electrode-bridge';
import * as messages from "./messages.js";

//====================================================================
// Events emition
//====================================================================

{{#events}}
  {{#hasPayload}}
  export function {{{name}}}({{{payload.name}}}, dispatchMode = DispatchMode.NATIVE ) {
    electrodeBridge.emitEvent(messages.{{{constantName}}}, { data: {{{payload.name}}}, dispatchMode});
  }
  {{/hasPayload}}
  {{^hasPayload}}
  export function {{{name}}}(dispatchMode = DispatchMode.NATIVE) {
    electrodeBridge.emitEvent(messages.{{{constantName}}}, {dispatchMode});
  }
  {{/hasPayload}}
{{/events}}

//====================================================================
// Request handler registration
//====================================================================

{{#requests}}
  {{#hasPayload}}
export function handle{{{pascalCaseName}}}Request(handler) {
  electrodeBridge.registerRequestHandler(messages.{{{constantName}}},
    (requestData) => {
      return handler(requestData.req);
    });
}
  {{/hasPayload}}
  {{^hasPayload}}
export function handle{{{pascalCaseName}}}Request(handler) {
  electrodeBridge.registerRequestHandler(messages.{{{constantName}}},
    (requestData) => {
      return handler();
    });
}
  {{/hasPayload}}
{{/requests}}
