import { electrodeBridge, DispatchMode } from '@walmart/react-native-electrode-bridge';
import * as messages from "./messages.js";

//====================================================================
// Events listeners registration
//====================================================================

{{#events}}
export function on{{{pascalCaseName}}}(handler) {
  electrodeBridge.registerEventListener(messages.{{{constantName}}}, {{{name}}}Handler);
}
{{/events}}

//====================================================================
// Requests sending
//====================================================================

// Todo : Correctly generate code for request payload / response payload
// support
{{#requests}}
{{#hasPayload}}
export function {{{name}}}({{{payload.name}}}, dispatchMode = DispatchMode.NATIVE) {
  return electrodeBridge.sendRequest(
    messages.{{constantName}}, {
    data: {{{payload.name}}},
    dispatchMode
  });
}
{{/hasPayload}}
{{^hasPayload}}
export function {{{name}}}(dispatchMode = DispatchMode.NATIVE) {
  return electrodeBridge.sendRequest(
    messages.{{constantName}}, {
    dispatchMode
  });
}
{{/hasPayload}}
{{/requests}}
