/* no borders around android vs ios code */
.api-method .api-method-code {
  border-top: none;
  border-bottom: none;
}

/* header dark styling */
.book-header {
  background-color: #2D3134;
}
.book-header h1 a {
  color: #fff;
}

/* Remove copy button over bash code */
.lang-bash + .copy-code-button {
  display: none;
}

/** To make block code take all page width
 * pre[class*="language-"] {
 *  margin-left: -30px;
 *  margin-right: -30px;
 * }
 */