# OSX
#
.DS_Store

# Android
#
*.iml
.gradle
/local.properties
.idea
/.idea/workspace.xml
/.idea/libraries
/build
build
/captures
.externalNativeBuild

# node.js
#
node_modules/
npm-debug.log
*/node_modules

# VSCode
.vscode

# libgen
.libgencache.json

# distrib
distrib

*/dist

ern-cauldron-api/test/.cauldron-test
