# OSX
#
.DS_Store

# Xcode
#
build/
project.xcworkspace/
xcuserdata/

# Android/IntelliJ
#
build/
.idea/
.gradle/
local.properties
*.iml

# node.js
#
node_modules/
npm-debug.log
yarn-error.log
lerna-debug.log

# Visual Studio Code (Java plugin)
#
.classpath
.project
.settings/

# Coverage data
#
.nyc_output/
coverage/

# Other generated folders
#
.cauldron/
_book/
dist/
generated/
tmp/

# Test fixtures
#
system-tests/fixtures/**/Libraries/
system-tests/fixtures/**/Podfile.lock
system-tests/fixtures/**/index.android.bundle*
system-tests/fixtures/**/jniLibs/
system-tests/fixtures/**/project.pbxproj
system-tests/fixtures/**/yarn.lock
