{{#hasParams}}
    {{#hasOptionalParams}}
        opts = opts || {};
    {{/hasOptionalParams}}
     const data =  {{#bodyParam}}{{#required}}{{paramName}}{{/required}}{{^required}}opts['{{paramName}}']{{/required}}{{/bodyParam}}{{^bodyParam}}{}{{/bodyParam}};
    {{#allParams}}{{#required}}
        // verify the required parameter '{{paramName}}' is set
        if ({{paramName}}  == null) {
        throw "Missing the required parameter '{{paramName}}' when calling '{{classname}}#{{operationId}}'";
        }
    {{/required}}{{/allParams}}
     {{#pathParams}}
           data['{{baseName}}'] = {{#required}}{{paramName}}{{/required}}{{^required}}opts['{{paramName}}']{{/required}};
     {{/pathParams}}
     {{#queryParams}}
          data['{{baseName}}'] = {{#required}}{{paramName}}{{/required}}{{^required}}opts['{{paramName}}']{{/required}};
    {{/queryParams}}
    {{#headerParams}}
          data['{{baseName}}'] = {{#required}}{{paramName}}{{/required}}{{^required}}opts['{{paramName}}']{{/required}};
    {{/headerParams}}
    {{#formParams}}
           data['{{baseName}}'] = {{#required}}{{paramName}}{{/required}}{{^required}}opts['{{paramName}}']{{/required}};
    {{/formParams}}
{{/hasParams}}
