{{>licenseInfo}}

import Foundation

{{>generatedCode}}

@objc public final class {{apiName}}ApiController: NSObject {
    // Singleton
    static let instance = {{apiName}}ApiController()
    override private init() {}

    private var requestHandler: {{apiName}}ApiRequestHandlerProvider?

    @objc
    public func register(config: {{apiName}}ApiConfig? = nil) {
        // Only register once.
        guard requestHandler == nil else {
            return
        }

        {{apiName}}ApiController.instance.requestHandler = {{apiName}}ApiRequestHandlerProvider(handlerConfig: config)
{{#requests}}
        {{apiName}}ApiController.instance.requestHandler?.register{{.}}RequestHandler()
{{/requests}}
    }
}
