{{>licenseInfo}}

import Foundation

{{>generatedCode}}

/// Marker interface that is used for request handler implementations inside an api.
@objc public protocol {{apiName}}ApiRequestHandlerDelegate {
{{#requests}}
    func register{{.}}RequestHandler()
{{/requests}}
}
