{{>licenseInfo}}

import Foundation

/**
 * A generated placeholder for your {{apiName}} implementation.
 *
 * Feel free to modify this class contents as needed. regen-api-impl WILL NOT modify the content
 * of this class. Do not change the class name as the naming convention is used for container
 * generation.
 */
@objc public class {{apiName}}ApiRequestHandlerProvider: RequestHandlerProvider, {{apiName}}ApiRequestHandlerDelegate {
    /**
     * - Parameter config : Optional config object that can be passed to an api impl provider.
     */
    init(handlerConfig: {{apiName}}ApiConfig? = nil) {
        super.init(config: handlerConfig)
    }
{{#requests}}

    public func register{{.}}RequestHandler() {
        // TODO: Needs to be implemented.
    }
{{/requests}}
}

// DO NOT rename this class as this naming convention is used when a container is generated.
public class {{apiName}}ApiConfig: RequestHandlerConfig {}
