package com.walmartlabs.ern.model;

import android.os.Bundle;
import android.os.Parcel;
import android.os.Parcelable;
import android.support.annotation.NonNull;
import android.support.annotation.Nullable;

public class {{className}} implements Parcelable {

    private static final String KEY_BUNDLE_{{{classNameUpperCase}}} = "{{name}}";

    @Nullable
    public static {{className}} fromBundle(@Nullable Bundle bundle) {
        if (bundle == null) {
            return null;
        }

        Parcelable parcelable = bundle.getParcelable(KEY_BUNDLE_{{{classNameUpperCase}}});
        if (parcelable instanceof {{className}}) {
            return ({{className}}) parcelable;
        } else {
            return null;
        }
    }

    {{#properties}}
    private final {{javaType}} {{name}};
    {{/properties}}

    private {{className}}(Builder builder) {
        {{#properties}}
        this.{{name}} = builder.{{name}};
        {{/properties}}
    }

    private {{className}}(Parcel in) {
        {{#properties}}
        {{name}} = in.{{{parcelableReadGetter}}};
        {{/properties}}
    }

    {{#className}}
    {{#customObject}}
    public static final Creator<{{className}}> CREATOR = new Creator<{{className}}>() {
        @Override
        public {{className}} createFromParcel(Parcel in) {
            return new {{className}}(in);
        }

        @Override
        public {{className}}[] newArray(int size) {
            return new {{className}}[size];
        }
    };
    {{/customObject}}
    {{/className}}

    {{#properties}}
    {{#isRequired}}
    @NonNull
    {{/isRequired}}
    {{^isRequired}}
    @Nullable
    {{/isRequired}}
    public {{javaType}} get{{className}}() {
        return {{name}};
    }

    {{/properties}}

    @Override
    public int describeContents() {
        return 0;
    }

    @Override
    public void writeToParcel(Parcel dest, int flags) {
        {{#properties}}
        dest.{{{parcelableWriteSetter}}};
        {{/properties}}
    }

    @NonNull
    public Bundle toBundle() {
        Bundle bundle = new Bundle();
        bundle.putParcelable(KEY_BUNDLE_{{{classNameUpperCase}}}, this);
        return bundle;
    }

    public static class Builder {
        {{#properties}}
        {{#isRequired}}
        private final {{javaType}} {{name}};
        {{/isRequired}}
        {{^isRequired}}
        private {{javaType}} {{name}};
        {{/isRequired}}
        {{/properties}}

        public Builder({{#properties}}{{#isRequired}}@NonNull {{javaType}} {{name}}{{^isLastRequiredItem}}, {{/isLastRequiredItem}}{{/isRequired}}{{/properties}}) {
            {{#properties}}
            {{#isRequired}}
            this.{{name}} = {{name}};
            {{/isRequired}}
            {{/properties}}
        }
        {{#properties}}
        {{^isRequired}}

        @NonNull
        public Builder {{name}}(@Nullable {{javaType}} {{name}}) {
            this.{{name}} = {{name}};
            return this;
        }
        {{/isRequired}}
        {{/properties}}

        @NonNull
        public {{className}} build() {
            return new {{className}}(this);
        }
    }
}
