package {{{package}}}.model;
import android.os.Bundle;

{{#HasRequired}}
import android.support.annotation.NonNull;
{{/HasRequired}}
import android.support.annotation.Nullable;

public class {{className}} implements Parcelabale {

}
