{{#hasSingleParam}}{{#allParams.0}}{{#required}}{{paramName}}{{/required}}{{^required}}data['{{paramName}}']{{/required}}{{/allParams.0}},{{/hasSingleParam}}{{^hasSingleParam}} data,{{/hasSingleParam}} dispatchMode