
class {{{requestsImplClassName}}}: {{{classname}}}.Requests {
    {{#operations}}
    {{#operation}}
    {{^isEvent}}

    override func register{{{camelizedNickName}}}RequestHandler(handler: ElectrodeBridgeRequestHandler) {
        let requestHandlerProcessor = ElectrodeRequestHandlerProcessor(requestName: kRequest{{{nickNameConstant}}}, reqClass: {{#requestParam}}{{{dataType}}}{{/requestParam}}.self, respClass: {{#responseParam}}{{{dataType}}}{{/responseParam}}.self, requestHandler: handler)
        requestHandlerProcessor.execute()
    }
    {{/isEvent}}
    {{/operation}}
    {{/operations}}

    //------------------------------------------------------------------------------------------------------------------------------------

    {{#operations}}
    {{#operation}}
    {{^isEvent}}

    override func {{nickname}}({{#hasRequestParam}}{{#requestParam}}{{{paramName}}}: {{dataType}},{{/requestParam}}{{/hasRequestParam}} responseListener: ElectrodeBridgeResponseListener) {
        let requestProcessor = ElectrodeRequestProcessor<{{#requestParam}}{{{dataType}}}{{/requestParam}}, {{#responseParam}}{{{dataType}}}{{/responseParam}}, Any>(
            requestName: {{{classname}}}.kRequest{{{nickNameConstant}}},
            requestPayload: {{#hasRequestParam}}{{#requestParam}}{{{paramName}}},{{/requestParam}}{{/hasRequestParam}}{{^hasRequestParam}}nil, {{/hasRequestParam}}
            respClass: {{#responseParam}}{{{dataType}}}{{/responseParam}}.self,
            responseItemType: nil,
            responseListener: responseListener)

        requestProcessor.execute()
    }
    {{/isEvent}}
    {{/operation}}
    {{/operations}}
}