{{>licenseInfo}}

package com.ern.api.impl;

{{>generatedCode}}

/**
 * A marker interface that is used to pass custom config implementations to an API request handler
 * implementation.
 */
public interface RequestHandlerConfig {
}
