{{>licenseInfo}}

package com.ern.api.impl;

import androidx.annotation.Nullable;

{{>generatedCode}}

abstract class RequestHandlerProvider<T extends RequestHandlerConfig> {
    protected T mRequestHandlerConfig;

    /**
     * @param requestHandlerConfig Optional config to be passed to an api impl provider.
     */
    public RequestHandlerProvider(@Nullable T requestHandlerConfig) {
        mRequestHandlerConfig = requestHandlerConfig;
    }
}
