{{>licenseInfo}}

package com.ern.api.impl;

import androidx.annotation.Nullable;

/**
 * A generated placeholder for your {{apiName}} implementation.
 *
 * <p>Feel free to modify this class contents as needed. regen-api-impl WILL NOT modify the content
 * of this class. Do not change the class name as the naming convention is used for container
 * generation.
 */
public class {{apiName}}ApiRequestHandlerProvider
        extends RequestHandlerProvider<{{apiName}}ApiRequestHandlerProvider.{{apiName}}ApiConfig>
        implements {{apiName}}ApiRequestHandler {
    /**
     * @param requestHandlerConfig Optional config to be passed to an api impl provider.
     */
    {{apiName}}ApiRequestHandlerProvider(
            @Nullable {{apiName}}ApiRequestHandlerProvider.{{apiName}}ApiConfig requestHandlerConfig) {
        super(requestHandlerConfig);
    }
{{#requests}}

    @Override
    public void register{{.}}RequestHandler() {
        // TODO
    }
{{/requests}}

    // DO NOT rename this class as this naming convention is used when a container is generated.
    public static class {{apiName}}ApiConfig implements RequestHandlerConfig {
    }
}
