{{>licenseInfo}}

package com.ern.api.impl;

{{>generatedCode}}

/**
 * Marker interface that is used for request handler implementations inside an api.
 */
interface {{apiName}}ApiRequestHandler {
{{#requests}}

    void register{{.}}RequestHandler();
{{/requests}}
}
