namespace com.walmartlabs.react
apiname weather
apiversion 1.0.0
bridgeversion 1.0.2

// Event with no payload
event weatherUpdated

// Event with a primitive type payload
event weatherUdpatedAtLocation(location: String)

// Event with complex type payload
event weatherUpdatedAtPosition(position: LatLng)

// Request with no request payload and no response payload
request refreshWeather()
