{{>licenseInfo}}

package com.walmartlabs.ern.container.miniapps;

import androidx.annotation.NonNull;

import com.ern.api.impl.navigation.ElectrodeBaseActivity;
import com.walmartlabs.ern.container.R;

public class {{{pascalCaseName}}}Activity extends ElectrodeBaseActivity {
    @Override
    protected int mainLayout() {
        return R.layout.activity_host_miniapp;
    }

    @NonNull
    @Override
    protected String getRootComponentName() {
        return "{{{name}}}";
    }

    @Override
    protected int getFragmentContainerId() {
        return R.id.fragment_container;
    }
}
