{{>licenseInfo}}

package com.walmartlabs.ern.container.miniapps;

import com.walmartlabs.ern.container.ElectrodeMiniAppActivity;

public class {{{pascalCaseName}}}Activity extends ElectrodeMiniAppActivity {
    @Override
    protected String getMiniAppName() {
        return "{{{name}}}";
    }
}
