#import "{{{pascalCaseApiName}}}Api.h"

@implementation {{{pascalCaseApiName}}}Api

{{#requests}}
- (void) handle{{{pascalCaseName}}}Request: (void (^_Nonnull)(id _Null_unspecified sender)) requestHandler {

}
{{/requests}}

@end
