
public class {{{eventsImplClassName}}}:  {{{classname}}}Events {
    {{#operations}}
    {{#operation}}
    {{#isEvent}}
    public override func add{{{camelizedNickName}}}EventListener(eventListener: ElectrodeBridgeEventListener) {
        let listenerProcessor = EventListenerProcessor(
                                eventName: {{{classname}}}.kEvent{{{camelizedNickName}}},
                                eventPayloadClass: {{#requestParam}}{{{dataType}}}{{/requestParam}}.self,
                                eventListener: eventListener)

        listenerProcessor.execute()
    }
    {{/isEvent}}
    {{/operation}}
    {{/operations}}

    {{#operations}}
    {{#operation}}
    {{#isEvent}}
    public override func emitEvent{{{camelizedNickName}}}({{#hasRequestParam}}{{#requestParam}}{{{paramName}}}: {{{dataType}}}{{/requestParam}}{{/hasRequestParam}}) {
        let eventProcessor = EventProcessor{{^hasRequestParam}}<None>{{/hasRequestParam}}(
                                eventName: {{{classname}}}.kEvent{{{camelizedNickName}}},
                                eventPayload: {{#hasRequestParam}}{{#requestParam}}{{{paramName}}}{{/requestParam}}{{/hasRequestParam}}{{^hasRequestParam}}nil{{/hasRequestParam}})

        eventProcessor.execute()
    }
    {{/isEvent}}
    {{/operation}}
    {{/operations}}
}
