{{>licenseInfo}}

{{>generatedCode}}

open class {{{pascalCaseName}}}NavigationController: ENBaseNavigationController {

    open override func getRootComponentName() -> String {
        return "{{{name}}}"
    }

}
