{{>licenseInfo}}

{{>generatedCode}}

open class MiniAppsConfig {

    public init() {}

    public let miniApps = [
        {{#miniApps}}
                "{{normalizedName}}",
        {{/miniApps}}
    ]

}
